In [1]:
import pandas as pd

In [5]:
! pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ----------------------------------- ---- 3.4/3.8 MB 14.4 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 14.2 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Handling xml data

In [4]:
pd.read_xml(r"C:\Users\Lenovo\Downloads\iriss.xml",parser="etree")

     s1   sw   p1      label
0  1.20  4.5  5.6     setosa
1  1.20  4.5  5.6  verginica
2  1.22  4.5  5.6   versical

In [13]:
data=pd.read_xml(r"C:\Users\Lenovo\Downloads\country.xml",parser="etree")

In [14]:
data

     s1   sw   p1     label  name   age countryname
0  1.20  4.5  5.6    setosa  None   NaN        None
1  1.20  4.5  5.6   vergina  None   NaN        None
2  1.22  4.5  5.6  versical  None   NaN        None
3   NaN  NaN  NaN      None    p1  28.0        None
4   NaN  NaN  NaN      None    p2  90.0        None
5   NaN  NaN  NaN      None  None   NaN       India
6   NaN  NaN  NaN      None  None   NaN   Pakisthan

In [8]:
pd.read_xml(r"C:\Users\Lenovo\Downloads\country.xml",xpath="farmer",parser="etree")

  name  age
0   p1   28
1   p2   90

In [10]:
pd.read_xml(r"C:\Users\Lenovo\Downloads\country.xml",xpath="country",parser="etree")

  countryname
0       India
1   Pakisthan

In [12]:
pd.read_xml(r"C:\Users\Lenovo\Downloads\iris1111.xml",parser="etree")

    s1   sw   p1      label
0  1.2  4.5  5.6     setosa
1  1.2  4.5  5.6  verginica

In [ ]:
attr_cols

In [17]:
data.to_xml(r"C:\Users\Lenovo\Downloads\iris1111.xml",parser="etree",attr_cols=["s1","label"])  # convert df to attribute xml structure

In [18]:
data

     s1   sw   p1     label  name   age countryname
0  1.20  4.5  5.6    setosa  None   NaN        None
1  1.20  4.5  5.6   vergina  None   NaN        None
2  1.22  4.5  5.6  versical  None   NaN        None
3   NaN  NaN  NaN      None    p1  28.0        None
4   NaN  NaN  NaN      None    p2  90.0        None
5   NaN  NaN  NaN      None  None   NaN       India
6   NaN  NaN  NaN      None  None   NaN   Pakisthan

In [20]:
data.to_xml(r"C:\Users\Lenovo\Downloads\country.xml",parser="etree",elem_cols=["s1","label"])  # convert df to element xml structure

# Handling Html data

In [16]:
data=pd.read_html("https://en.wikipedia.org/wiki/Indian_Premier_League",match="Siddharth Patel")

In [17]:
len(data)

1

In [18]:
type(data)

list

In [19]:
data[0]

,Team,Team.1,City,Home ground,Debut,Captain,Head coach,Owner(s)
0,NaN,Chennai Super Kings,"Chennai, Tamil Nadu",M. A. Chidambaram Stadium,2008,Ruturaj Gaikwad,Stephen Fleming,N. Srinivasan
1,NaN,Delhi Capitals,"New Delhi, Delhi",Arun Jaitley Stadium,2008,NaN,Hemang Badani,Grandhi Mallikarjuna Rao Sajjan Jindal
2,NaN,Gujarat Titans,"Ahmedabad, Gujarat",Narendra Modi Stadium,2022,Shubman Gill,Ashish Nehra,Siddharth Patel
3,NaN,Kolkata Knight Riders,"Kolkata, West Bengal",Eden Gardens,2008,NaN,Chandrakant Pandit,Shah Rukh Khan Juhi Chawla Jay Mehta
4,NaN,Lucknow Super Giants,"Lucknow, Uttar Pradesh",BRSABV Ekana Stadium,2022,NaN,Justin Langer,Sanjiv Goenka
5,NaN,Mumbai Indians,"Mumbai, Maharashtra",Wankhede Stadium,2008,Hardik Pandya,Mahela Jayawardene,Mukesh Ambani
6,NaN,Punjab Kings,"Mullanpur, Punjab",Maharaja Yadavindra Singh International Cricke...,2008,NaN,Ricky Ponting,Mohit Burman Ness Wadia Preity Zinta Karan Paul
7,NaN,Rajasthan Royals,"Jaipur, Rajasthan",Sawai Mansingh Stadium,2008,Sanju Samson,Rahul Dravid,Manoj Badale Lachlan Murdoch Gerry Cardinale
8,NaN,Royal Challengers Bengaluru,"Bangalore, Karnataka",M. Chinnaswamy Stadium,2008,NaN,Andy Flower,Hina Nagarajan
9,NaN,Sunrisers Hyderabad,"Hyderabad, Telangana",Rajiv Gandhi Stadium,2013,Pat Cummins,Daniel Vettori,Kalanithi Maran

In [22]:
data[0].to_html(r"C:\Users\Lenovo\Downloads\cricket.html")